#header {
    display: inline-block;
    width: 70%;
}
  
.close-button-container {
    display: inline-block;
    width: 30%;
    text-align: right;
}

.deposit-form {
    min-width: 250px;
    max-width: 500px;
    width: 100%;
}

.deposit-field {
    width: 100%;
}

.deposit-actions {
    display: flex;
    justify-content: flex-end;
} 