<h1 mat-dialog-title id="header">Deposit Funds</h1>
<div class="close-button-container">
    <button mat-icon-button id="close-button" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-divider></mat-divider>
<div mat-dialog-content>
    <form class="deposit-form" #depositForm="ngForm">
        <mat-form-field class="deposit-field">
            <input matInput [(ngModel)]="amount" name="amount" min="0" step="100" type="number" placeholder="Funds" cdkFocusInitial required>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="deposit-actions">
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="amount" [disabled]="!depositForm.form.valid">Submit</button>
</div>