.trader-header-container {
    display: flex;
    justify-content: space-between;
}

.trader-name{
    display: flex;
}

#trader-name-icon {
    width: 30px;
}

.trader-fund-container h3, .trader-fund-container p {
    display: inline-block;
}

.fund-button-container button {
    margin: 0px 5px;
}

#trader-amount {
    width: 180px;
    text-align: right;
}

.edit-profile-form {
    width: 350px;
}

.edit-form-field {
    width: 100%;
}

.edit-profile-buttons {
    width: 350px;
    display: flex;
    justify-content: flex-end;
}

.edit-profile-buttons button {
    margin: 0px 5px;
}

.edit-on {
    color: white;
    background-color: rgb(63, 81, 181);
}