<h1>Trader Account</h1>
<br>
<div class="trader-header-container">
    <div class="trader-name">
        <mat-icon id="trader-name-icon">account_circle</mat-icon>
        <h2> {{ trader.firstName }} {{ trader.lastName }}</h2>
    </div>
    <button mat-icon-button aria-label="Edit Profile" title="Edit Profile" (click)="toggleEdit()" [class]="editMode ? 'edit-on' : ''">
        <mat-icon>edit</mat-icon>
    </button>
</div>
<div [hidden]="editMode">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Balance">
            <br>
            <div class="trader-fund-container">
                <h3>Funds Available: </h3>
                <p id="trader-amount">$ {{ trader.amount }}</p>
            </div>
            <div class="fund-button-container">
                <button mat-raised-button color="primary" (click)="openDepositDialog()">Deposit Funds</button>
                <button mat-raised-button color="primary" (click)="openWithdrawDialog()" [disabled]="trader.amount === 0">Withdraw Funds</button>
            </div>
        </mat-tab>
        <mat-tab label="Account Details">
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>{{ trader.firstName }}</span>
                    <span matListItemLine>First Name</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>{{ trader.lastName }}</span>
                    <span matListItemLine>Last Name</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>{{ trader.email }}</span>
                    <span matListItemLine>Email</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>{{ trader.dob }}</span>
                    <span matListItemLine>Date of Birth</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>{{ trader.country }}</span>
                    <span matListItemLine>Country</span>
                </mat-list-item>
            </mat-list>
        </mat-tab>
    </mat-tab-group>
</div>
<div [hidden]="!editMode">
    <br>
    <h3>Edit Profile</h3>
    <form class="edit-profile-form" (ngSubmit)="onEditSubmit()" #editProfileForm="ngForm">
        <p>
            <mat-form-field class="edit-form-field">
                <mat-label>First Name</mat-label>
                <input matInput [(ngModel)]="editModel.firstName" name="firstName" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="edit-form-field">
                <mat-label>Last Name</mat-label>
                <input matInput [(ngModel)]="editModel.lastName" name="lastName" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="edit-form-field">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="editModel.email" name="email" required>
            </mat-form-field>
        </p>
        <div class="edit-profile-buttons">
            <button mat-stroked-button type="button" (click)="toggleEdit()">
                Cancel
            </button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!editProfileForm.form.valid">
                Submit
            </button>
        </div>
    </form>
</div>