<div class="nav-body">
    <div class="nav-item">
        <button mat-icon-button aria-label="Dashboard" routerLink="/dashboard" title="Dashboard" 
        [class]="currentNav === 'Dashboard' ? 'nav-on' : ''" (click)="setDashboardNav()">
            <mat-icon>people</mat-icon>
        </button>
    </div>
    <div class="nav-item">
        <button mat-icon-button aria-label="Quotes" routerLink="/quotes" title="Quotes" 
        [class]="currentNav === 'Quotes' ? 'nav-on' : ''" (click)="setQuotesNav()">
            <mat-icon>request_quote</mat-icon>
        </button>
    </div>
</div>
