.nav-item {
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

.nav-body {
    padding-top: 25%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.nav-on {
    background-color: #234a7d;
}
